/* Custom styling for positioning and z-index of top bar containers */
.top-bar-container {
  height: 60px;
  margin-bottom: 3px; /* Adjust spacing above navbar */
  position: relative;
  z-index: 1; /* Higher than navbar */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: white; /* Ensures it's not transparent */
}

.navbar {
  z-index: 2;
}

/* Styling for the logo container */
.logo-container {
  display: flex;
  align-items: center;
  flex: 1;
}
.logo-container img {
  height: 60px;
  width: auto; /* Maintain aspect ratio */
  margin-left: 10px; /* Ensure spacing */
}

/* Container for the aurora image and login button */
.aurora-login-container {
  display: flex;
  flex: 3;
  justify-content: flex-end;
  flex-direction: column-reverse;
  align-items: flex-end;
  position: relative;
  z-index: 2; /* Ensures it's above the logo */
  height: 100%;
}

/* Styling for the aurora image */
.aurora img {
  height: 50px;
  width: auto;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Adjust the login button position */
.login-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 3; /* Ensures it’s above the background */
}

/* Space out login buttons properly */
.login-btn-container {
  display: flex;
  gap: 10px;
  border: none !important;
  background-color: #F2A900 !important;
  color: rgba(255,255,255,0.55) !important;
  margin: 0 !important;
  border-radius: 4px; 
}
/* hover effect for login buttons */
.login-btn-container .btn:hover {
  color: #ffffff !important;
  background-color: #F2A900 !important; /* Ensures hover color matches the button */
}

/* Ensure buttons look clean */
.login-btn-container .btn {
  font-size: 16px;
  padding: 5px 10px;
}

/* styling for the language button !! remove/comment out if returning to use drop-down menu instead */
.language-button {
  border: none !important;
  background-color: transparent !important;
  color: rgba(255,255,255,0.55) !important; 
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x) !important;
  margin: 0 !important;
}
.language-button:hover {
  color: #ffffff !important;
  background-color: transparent !important;
}

/* not being used while an actionButton selects language instead
/*.selectize-control, .selectize-dropdown {
/*  width: auto !important; /* Auto-adjust the dropdown width */
/*}
/*.selectize-dropdown {
/*  z-index: 1050 !important; /* Ensure the dropdown overlays other content */
/*}

/* Highlight selected language in the dropdown
/*.dropdown-menu li.active a {
/*    font-weight: bold;
/*    background-color: #00454e !important; /* Bootstrap primary blue */
/*    color: white !important; /* Ensures text is visible */
/*    border-radius: 4px; /* Optional: smooth corners */
/*}

